{% extends "base_blog.html" %}

{% set title = (news_list[0].emoji + ' ' if news_list[0].emoji else '') + news_list[0].title if news_list|length == 1 else "Giovanni's Portfolio" -%}
{% set description = 'Giovanni Gravili\'s work-related portfolio. Thoughts on software development, projects, and more.' -%}

{% block head %}
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="https://ghovax.github.io/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    {{ super() }}
{% endblock %}

{% block nav_brand %}
    <a class="navbar-brand" href="{{ config.site }}/" style="">Homepage</a>
{% endblock %}

{% block nav_links %}
    <li style="margin-top: 5.25px;">
        <a href="https://drive.google.com/file/d/1j2918bgDUqTPepgQniV1dAXiWfoTqEqS/view?usp=drive_link" title="Resume">CV / Resume</a>
    </li>
    <li style="margin-top: 5.25px;">
        <a href="https://github.com/ghovax" target="_blank" title="My GitHub">GitHub</a>
    </li>
{% endblock %}
